<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/Libs/jquery-2.0.2.min.js"></script>
    <script type="text/javascript" src="/Libs/require.js"></script>
    <script type="text/javascript" src="/Libs/underscore-min.js"></script>
    <script type="text/javascript" src="/Libs/new_user.js"></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>