extend layout

block content
	h1#page-title= title
	form(action='/session/new/', method='POST', accept-charset='utf-8')
		input(class='input', type='text', name='username', placeholder='johndoe@youremail.com')
		input(class='input', type='password', name='password', placeholder='password')
		input(class='input', type='submit', value='submit')

