<h1 id="page-title"><%= title %></h1>
<form action="/session/new/" method="POST" accept-charset="utf-8">
	<input class="input" type="text" name="username" placeholder="johndoe@youremail.com" />
	<input class="input" type="password" name="password" placeholder="Password" / >
	<input type="submit" value="Submit">
</form>