<div class="myattr"></div>
<h1 id="page-title"><%= title %></h1>
<div id="list">
<form action="/user/create/" method="post" accept-charset="utf-8">
	<div class="item-new">
	<% for (var key in definitions.userData){ %>
		
		<input class="input" type="text" name="<%= key %>"  placeholder="<%= definitions.userData[key] %>"/><br>
		
	<%  } %>
    <input type="submit" value="Submit">  
	</div>
</form>
</div>