body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}
a:hover{
	color:#5e5e5e;

}
.item{background-color: #efefef; width: 220px; height: auto; padding :10px; margin: 5px; border: 1px solid #ccc; position: relative; float: left; top: 0px;}